/* #collections Config */
#collections{
    width: 70%;
    height: 12.5rem;
    margin-left: 15%;
    margin-top: 2rem;
    display: block;
}

#collections h3{
    font-size: large;
    margin-bottom: 1.7vh;
}

#collectionsContent{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
}

/* .collection Config */
.collection{
    width: 32%;
    height: 100%;
    padding: 1rem 0 0 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #d8e3f2;
    position: relative;
}

.collectionContent span{
    font-size: smaller;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0.75vh;
    background-color: #e7ff86;
    border-radius: 30px;
}

.collectionContent p{
    font-size: x-large;
    font-weight: 900;
    color: black;
    margin: 1.75vh 0 1.75vh 0;
}

.collectionContent button{
    width: 20vh;
    height: 4vh;
    border: none;
    border-radius: 3px;
    font-weight: 900;
    background-color: white;
    color: #c92071;
    cursor: pointer;
}

.collectionImg{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.collectionImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 5px 0;
}
/* End .collection Config */
/* End #collections Config */






/* #highlights Config */
#highlights{
    width: 40%;
    height: 9rem;
    margin: 2.5rem 0 2.5rem 30%;
    display: block;
    text-align: center;
}

#highlights h3{
    margin-bottom: 1.7vh;
    font-size: large;
}

#highlightsContent{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
}

/* .department Config */
.department{
    width: 17.5%;
    height: 17.5vh;
    margin-top: 2.5vh;
    display: block;
    text-align: center;
    cursor: pointer;
}

.department img{
    padding: 2.5vh;
    border-radius: 50%;
    background-color: white;
}

.department h4{
    text-transform: capitalize;
    font-weight: 600;
}
/* End .department Config */
/* End #highlights Config */