/* LoginHeader Config */
#loginHeader{
    width: 100%;
    height: 3.5rem;
    background-color: white;
    display: flex;
    align-items: center;
}

#loginLogo{
    width: 25%;
    height: 60%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

#loginLogo img{
    width: 7.5%;
}

#loginLogo span{
    color: #c92071;
    margin-left: 0.5rem;
    font-size: large;
    font-weight: bolder;
}
/* End LoginHeader Config */